.header {
  height:55px;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color:white;
  border-bottom-width:1px;
  border-bottom-style: solid;
  border-bottom-color:rgb(228, 228, 228) ;
}

.lefts {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height:24px;
  margin-left:24px;
  margin-right:24px;
}

.youtube-logo {
  height: 20px;
}

.middles {
  flex: 1;
  margin-left:70px;
  margin-right:35px;
  max-width:500px;
  display:flex;
  align-items: center;
}

.search-bar {
  flex:1;
  height:36px;
  padding-left:10px;
  font-size:16px;
  border-width: 1px;
  border-style:solid;
  box-shadow:inset 1px 2px 2px
  rgba(0, 0, 0,0.05 );
  border-radius:2px;
  border-color:rgb(192, 192, 192);
  width: 0;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
}

.search-bar::placeholder {
  font-family: Roboto,Arial;
  font-size:16px;
}

.search-button {
  height:40px;
  width:66px;
  background-color:rgb(240, 240, 240);
  border-width:1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left:-1px;
  margin-right:10px;
  border-radius:2px;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;

}

.search-button,
.voice-search-button,
.up-icon-container,
.app-icon-container,
.not-count {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.up-icon-container .tooltip,
.app-icon-container .tooltip,
.not-count .tooltip {
  font-family: roboto,arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
  font-size: 12px;
  bottom:-45px ;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.up-icon-container:hover .tooltip,
.app-icon-container:hover .tooltip,
.not-count:hover .tooltip  {
  opacity: 1;
}

.search-icon {
  height:25px;
}

.voice-search-button {
  height:40px;
  width:40px;
  border-radius:20px;
  border-style:none;
  background-color: rgb(245, 245, 245);
}

.voice-icon {
  height:24px;
}

.rights {
  width:180px;
  margin-right:24px;
  display:flex;
  align-items: center;
  flex-shrink:0;
  justify-content:space-between;
}

.up-icon {
  height:24px;
}

.app-icon {
  height: 24px;
}

.not-icon {
  height: 24px;
}

.not-count {
  position: relative;
}

.nots-count {
  position:absolute;
  top: -2px;
  right: -5px;
  background-color:rgb(200, 0, 0);
  color: white;
  font-family: roboto,arial;
  font-size: 11px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 5px;
  border-radius: 10px;
}

.current-user-pic {
  height:32px;
  border-radius:16px;
}

